html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  background-color: black;
}

.title {
  font-size: 85px;
  text-align: center;
  font-family: 'Signika', sans-serif;
  margin-top: 30px;
  color: white;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1rem auto;
  width: 80vw;
  font-size: 50px;
  margin-bottom: 75px;
}

.post {
  position: relative;
  padding: 50px;
  border-radius: 50px;
  border: 3px solid grey;
  align-items: flex-end;
  font-size: 50%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: oblique;
  text-c;
  margin-top: 35px;
  width: 27%;
  background-color: #1db954;
  box-shadow: 3px 1px 5px 5px white;
}

img {
  width: 100%;
}

.post1:hover {
  transform: scale(1.01);
}

.post2 {
  ;
}
