html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  background-color: black;
}

.title {
  font-size: 85px;
  text-align: center;
  font-family: "Signika", sans-serif;
  margin-top: 30px;
  color: white;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1rem auto;
  width: 80vw;
  font-size: 50px;
  margin-bottom: 75px;
}

.post {
  position: relative;
  padding: 50px;
  border-radius: 50px;
  border: 3px solid grey;
  align-items: flex-end;
  font-size: 50%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: oblique;
  margin-top: 35px;
  width: 27%;
  background-color: #1db954;
  box-shadow: 3px 1px 5px 5px white;
}

img {
  width: 100%;
}

.post1:hover {
  transform: scale(1.01);
  transition-duration: 3s;
}

.post2:hover {
  animation: rotation 3s;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.post3:hover {
  transform: skew(120deg, 20deg);
}

.post4:hover {
  outline: 10px solid white;
}

.post5:hover,
.post6:hover,
.post7:hover,
.post8:hover,
.post9:hover {
  transform: matrix(3, 3, 3, 4, 5, 3);
}

@media screen and (max-width: 800px) {
  .container {
    background-color: black;
  }
  .post {
    width: 40%;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 90vw;
  }
  .post {
    width: 80%;
  }
}

@keyframes slideFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.title {
  animation: 1s ease-out 0s 1 slideFromRight;
  padding: 30px;
}
